.loginform {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loginform__close-button {
  float: right;
}

.loginform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
  text-align: center;
}

.loginform__card {
  background: #ffc37f;
  padding: 24px;
  border-radius: 8px;
}

.loginform__logo {
  margin: 0 0 5px 0;
  font-size: 1.5rem;
  padding: 20px;
}

.loginform__slogan {
  margin: 0 10 22px 0;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
}

.loginform__inputs {
   display: flex;
  flex-direction: column;
  gap: 22px;
}

.loginform__label {
  display: block;
  font-size: 1.25rem;
  margin: 10px 0;
}

.loginform__input {
  padding: 10px 12px;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 6px;
}

.signupform_submit {
  display: block;
  margin-top: 12px;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  background-color: #1a1a1a;
  color: #fff;
  transition: background 0.2s;
}

.loginform__submit {
  display: inline-block;
  margin-top: 12px;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  background-color: #1a1a1a;
  color: #fff;
  transition: background 0.2s;
}

/* Responsive */
@media (max-width: 720px) {
  .loginform {
    max-width: 100%;
    padding-inline: 12px;
  }
  .loginform__card {
    padding: 18px;
  }
}
