.form-overlay {
  position: fixed;
  inset: 0;
  background-color: #2c2c2c;
  display: flex;
  column-gap: 40px;
  z-index: 1000;
  padding: 40px;
  font-family: 'Courier New', Courier, monospace;
  color: #fafafa;
}

.loginform {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
  gap: var(--gap-md);

  background: radial-gradient(circle, #474747, #2c2c2c 60%);
}

.loginform__header {
  margin: 0 0 var(--gap-lg) 0;
  font-size: 5rem;
  font-weight: 600;
}

.loginform__close-btn {
  /* temporarily hide button */
  display: none;
}

.loginform__card {
  padding: 28px;
  border-radius: var(--radius);
  width: 100%;
  max-width: 80%;
}

.loginform__slogan {
  margin: 0 0 var(--gap-sm) 0;
  font-size: 2.5rem;
  /*
  color: var(--muted);
  */
}

.loginform__signup {
  font-size: 1.5rem;
  margin: 0 0 var(--gap-lg);
}

.loginform__signup-btn {
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
}

.loginform__signup-btn:hover {
  color: inherit;
}

.loginform__field {
  margin-bottom: 12px;
}

.loginform__label {
  display: flex;
  width: 100%;
  margin-bottom: 6px;
}

.loginform__label-dashes {
  flex: 4;
  transform: translateY(50%);
  border-top: 1px solid #fafafa;
}

.loginform__label-text {
  flex: 1;
  width: auto;
  font-size: 1.5rem;
  margin: 0 4px;
}

.loginform__input {
  width: 100%;
  margin-bottom: var(--gap-md);
  padding: 10px 12px;
  font-size: 1.5rem;
  background-color: #474747;
  color: #fafafa;
  border: 1px solid var(--input-border);
  border-radius: 6px;
}

.loginform__submit {
  width: 100%;
  display: inline-block;
  margin-top: 12px;
  padding: 10px 16px;
  font-size: 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  color: black;
}
.loginform__logo {
  flex: 1;
  position: relative;
  background: radial-gradient(circle, #f5b164, #f58c14);
  border-radius: 16px;
  /* box-shadow: 0px 0px 32px rgba(245, 140, 20, 1); */
}

.loginform__logo-img {
  height: auto;
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  -webkit-user-drag: none;
  object-fit: contain;
}

.loginform__logo-text {
  font-size: 32px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 4rem;
}

/* Responsive */
@media (max-width: 720px) {
  .loginform {
    padding-inline: 12px;
  }
  .loginform__card {
    padding: 18px;
  }
}

@media screen and (max-width: 1024px) {
  .loginform {
    max-width: 100%;
  }
  .loginform__logo {
    display: none;
  }
}
